name: Primary

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  library:
    name: Library
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python
        run: uv python install
      - name: Install Dependencies
        run: uv sync --dev
      - name: Run ruff
        run: uv run ruff check .
      - name: Run pytest
        run: uv run pytest --cov --cov-branch --cov-report=xml
        env:
          TESTS_WEBHOOK_URL: ${{ secrets.TESTS_WEBHOOK_URL }}
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Install tox
        run: uv tool install tox --with tox-uv
      - name: Run tox
        run: uv run tox
        env:
          TESTS_WEBHOOK_URL: ${{ secrets.TESTS_WEBHOOK_URL }}
      - name: Build Package
        run: uv build
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v5
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python
        run: uv python install
      - name: Configure Git
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install Dependencies
        run: uv add zensical mkdocstrings-python
      - name: Build Documentation
        run: uv run zensical build --clean
      - name: Upload Documentation
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy Documentation
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/deploy-pages@v4
        id: deployment
